.container {
    display: block;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.pixelGrid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    pointer-events: none;
}

.pixel {
    opacity: 1;
    transition: opacity 0.4s ease-out;
    will-change: opacity;
}

/* When active, pixels fade out over time */
.active .pixel {
    opacity: 0;
}