.card {
    position: relative;
    border-radius: var(--radius-l);
    border: 1px solid var(--neutral-border-weak);
    background-color: var(--neutral-surface-strong);
    overflow: hidden;
    padding: var(--static-space-32);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.noPadding {
    padding: 0;
}

.spotlight {
    pointer-events: none;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}